.register .container > .form-container,
.login .container > .form-container,
.forget .container > .form-container {
    max-width: 500px;
    margin: 0 auto;

    form {
        width: 100%;

        label {
            color: $white;
        }
    }
}

.register .container > .alert,
.login .container > .alert,
.forget .container > .alert {
    max-width: 500px;
    margin: 0 auto;
}
