.container {
    margin-top: 100px;
}

.register .container > .form-container,
.login .container > .form-container,
.forget .container > .form-container,
.reset .container > .form-container {
    max-width: 500px;
    margin: 0 auto;

    form {
        width: 100%;

        .form-check {
            margin-bottom: 1em;
        }

        label {
            color: $white;
        }
    }
}

.register .container > .alert,
.login .container > .alert,
.forget .container > .alert,
.reset .container > .alert {
    max-width: 500px;
    margin: 0 auto;
}

.not-found .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0;

    h2 {
        font-size: rem(100);
        font-weight: bold;
    }

    p {
        font-size: rem(30);
        margin-bottom: rem(48);
    }

    a {
        font-size: rem(20);
    }
}
