$color: #e7e8f1;

body {
    background: $color;
    height: 100vh;
}

p {
    color: $color;
    transform: translate3d(5px, 0, 0);
}

.register .container > .form-container {
    max-width: 500px;
    margin: 0 auto;

    form {
        width: 100%;

        label {
            color: $white;
        }
    }
}
